@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    font-family: 'Dosis', sans-serif;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(black, cadetblue);
    background-repeat: no-repeat;
    color: white;
    margin: 30px;
}

.container {
    display: grid;
    grid-template-rows: 250px 220px;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
}

.calendar-container, .tasks-container {
    width: 400px;
    min-height: 220px;
    margin: 10px 20px;
    padding: 0px 15px 15px 15px;
}

.tasks-container {
    display: grid;
    grid-column: 2;
    grid-row: 1 / span 3;
    align-self: flex-start;
    justify-self: center;
}

.calendar-container, .watch-container, .contact-container {
    display: grid;
    grid-column: 1;
    justify-items: center;
    justify-self: center;
    align-self: flex-start;
}

.watch-container {
    justify-content: flex-end;
    width: 100%;
}

.task-header, .calendar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 0 15px 3px 15px;
}


.alert {
    position: fixed;
    top: 40%;
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    justify-content: space-around;
    line-height: 25px;
    display: none;
    font-size: 13px;
    text-transform: uppercase;
}

.alert-yes, .alert-no {
    width: 40%;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-size: 13px;
}

.alert-yes:hover, .alert-no:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.contact {
    justify-content: end;
    width: 100%;
    font-size: 13px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    margin-top: 30px;
}

.github-logo {
    padding: 5px;
    width: 20px;
    height: 20px;
}

.github, .mail, .phone {
    text-justify: center;
    padding: 5px;
}

.mail, .phone {
    text-align: end;
    width: 100%;
}

.contact a:hover {
    text-decoration: underline;
}
