.change_month {
    padding: 0 10px;
}

.calendar-container, .tasks-container {
    width: 400px;
    min-height: 200px;
    border: 3px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 10px 10px 20px black;
    border-radius: 7px;
    margin: 30px 50px 20px 50px;
    align-items: flex-start;
}

.task-header, .calendar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 20px 3px 20px;
    font-size: 16px;
    margin: 0 10px;
}

.task-list, .month  {
    justify-content: start;
    flex-basis: 50%;
}

.add-new-task, .year {
    justify-content: end;
    flex-basis: 50%;
}

td {
    border: 0px solid red;
    width: 40px;
    height: 7px;
    font-size: 12px;
    opacity: 0.7;
    justify-content: end;
}

.tasks {
    position: relative;
    display: flex;
    align-content: flex-start;
    width: 95%;
    min-height: 170px;
    font-size: 13px;
    padding-top: 5px;
}

.one-task {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.7;
}

.one-task:hover {
    opacity: 1;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    position: relative;
    margin-right: 10px;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}

input[type=checkbox]:checked + label::after {
    position: absolute;
    content: "";
    display: block;
    top: -5px;
    left: 4px;
    width: 5px;
    height: 12px;
    border-bottom: 3px solid white;
    border-right: 2px solid white;
    border-radius: 2px;
    transform: rotate(45deg);
}

.task {
    position: relative;
    display: flex;
    border-radius: 3px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.new-task-container {
    display: none;
    position: absolute;
    top: 30%;
    width: 400px;
    height: 250px;
    background-color: rgba(34, 62, 62, 0.97);
    border: 2px solid white;
    border-radius: 7px;
}