.task-date {
    font-size: 12px;
    opacity: 0.8;
    text-transform: uppercase;
    width: 50px;
    cursor: default;
}

.taks-list {
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.task-lists {
    display: block;
    cursor: default;
    font-size: 15px;
}

.task-lists::first-letter {
    text-transform: uppercase;
}

.task-lists, .change-tl-back, .change-tl-fwd {
    animation: showOpacity 0.5s;
}

.task-btns {
    height: 28px;
    width: 80px;
    flex-direction: column;
}

.add-list-btn, .delete-task-list, .cancel-add-list-btn {
    font-size: 8px;
    width: 50%;
    justify-content: flex-end;
    text-align: end;
    padding: 0;
    margin: 1px 5px;
    cursor: pointer;
    opacity: 0.4;
    animation: showOpacity 0.5s;
}

.add-list-btn:hover, .delete-task-list:hover, .cancel-add-list-btn:hover {
    opacity: 1;
}

.list-word {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.2);
    width: 50%;
    padding: 0;
    margin: 0;
    cursor: default;
}

.add-list-input {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    width: 100%;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    padding: 2px 10px;
    animation: showAddTaskInput 0.3s;
}

.add-list-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
}

.change-tl-back, .change-tl-fwd {
    font-size: 20px;
}