.tasks {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 220px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.one-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.6;
    cursor: default;
}

.one-task:hover {
    opacity: 1;
}

.move-holder {
    position: absolute;
    left: -3px;
    display: none;
    font-size: 10px;
    opacity: 0.5;
    cursor: all-scroll;
}

.one-task:hover .move-holder {
    display: inline;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    position: relative;
    margin-right: 10px;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}

input[type=checkbox] + label::after {
    position: absolute;
    content: "";
    display: block;
    top: -6px;
    left: 4px;
    width: 5px;
    height: 12px;
    border-bottom: 3px solid white;
    border-right: 2px solid white;
    border-radius: 2px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s ease;
}

input[type=checkbox]:checked + label::after {
    opacity: 1;
}

.task {
    position: relative;
    display: flex;
    width: 75%;
}

.task-complete {
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.delete-button, .edit-button {
    font-size: 10px;
    padding: 0 5px;
    color: inherit;
}

.delete-button {
    font-size: 15px;
}

.delete-button:hover {
    color: rgba(240, 0, 0, 0.7);
}

.guick-add-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    opacity: 1;
    transition: all 0.2s ease;
}

#quick-add {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    width: 300px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 20px black;
    font-size: 12px;
    padding: 2px 10px;
}

#quick-add:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.quick-add-btn {
    opacity: 0.5;
    font-size: 16px;
    width: 50px;
}

.quick-add-btn:hover {
    opacity: 1;
}