.weather {
    flex-direction: column;
    margin: 0 px;
}

.today_container {
    border-radius: 7px;
    border: 2px solid white;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    color: white;
    align-items: flex-start;
    width: 450px;
}

.today_container {
    margin: 30px 30px 10px 30px;
    height: 260px;
    font-size: 20px;
}

#day {
    margin: 0 0 10px 0;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 450px;
    justify-content: flex-start;
    }

.today_actual, .today_allDay {
    padding: 10px;
    box-shadow: 0 0 10px white;
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 210px;
    width: 210px;
}

.today_actual {
    margin: 0 1px 0 -10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.today_allDay {
    margin: 0 -10px 0 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.actual_img, .actual_temp {
    width: 100%;
    font-size: 30px;
}

.actual_img {
    height: 60%;
}

.actual_temp {
    height: 40%;
}

.today_day, .today_night {
    width: 100%;
    height: 30%;
    font-size: 20px;
}

.today_precipitation, .today_pressure {
    width: 100%;
    height: 20%;
    font-size: 16px;
}